@import "../mixins";
@import "../variables";

.app {
    display: grid;
    grid-template-columns: 25% 75%;
    max-width: $page-max-width;
    width: 100%;
    padding: 32px 24px;
    gap: 24px;
}

.app__userInput__box {
    @include flex(column, flex-start, flex-start);
    @include fullSize;
    .app__userInput {
        @include flex(column, flex-start, stretch);
        width: 100%;
        gap: 3rem;
    }
}

.app__userOutput {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
        0 8px 16px -8px rgba(0, 0, 0, 0.25);
    height: $cv-preview-height;
    width: $cv-preview-width;
    .app__userOutput__box {
        @include fullSize;
    }
}
