@import "../variables";
.resume {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: sticky;
    top: 0;
    width: 100%;
}

.top {
    grid-template-rows: auto 1fr;
}

.personalInformation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 36px 24px;
    color: #fff;
    background-color: #0e374e;
    h1 {
        font-weight: 700;
        font-size: $font-size-extra-large-responsive;
        text-align: center;
    }
    .personalDetails {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        > div {
            display: flex;
            flex-direction: row;
            gap: 0.2rem;
        }
    }
}
