@import "../mixins";
@import "../variables";

.form-section {
    @include flex(column, center, stretch);
    gap: 1rem;
    padding: 24px;
    h2 {
        font-size: $font-size-large-responsive;
    }
    form {
        @include flex(column, flex-start, stretch);
        gap: 1.5rem;
        > div {
            @include flex(column, flex-start, stretch);
            gap: 0.2rem;
            input {
                height: 2rem;
                @include inputTextAreaBorderTransition;
            }
            textarea {
                resize: none;
                padding-left: 5px;
                height: 6rem;
                @include inputTextAreaBorderTransition;
            }
            textarea:focus,
            input:focus {
                @include inputFocus;
            }
        }
        .form-buttons {
            @include flex(row, flex-start, stretch);
            gap: 0.5rem;
            button {
                font-size: $font-size-large-responsive;
            }
            place-self: flex-end auto;
        }
    }
}
