@import "../mixins";
@import "../variables";

.form-section,
.entryEditing {
    @include flex(column, center, stretch);
    gap: 1rem;
    padding: 24px;
    h2 {
        font-size: $font-size-large-responsive;
    }
    form {
        @include flex(column, flex-start, stretch);
        gap: 1.5rem;
        > div {
            @include flex(column, flex-start, stretch);
            gap: 0.2rem;
            input {
                height: 2rem;
                @include inputTextAreaBorderTransition;
                padding: 1rem 0.5rem;
            }
            textarea {
                resize: none;
                height: 6rem;
                @include inputTextAreaBorderTransition;
                padding: 0.5rem;
            }
            textarea:focus,
            input:focus {
                @include inputFocus;
            }
        }
        .form-buttons {
            @include flex(row, flex-start, stretch);
            gap: 0.5rem;
            button {
                font-size: $font-size-large-responsive;
            }
            place-self: flex-end auto;
        }
        button {
            place-self: flex-end;
            font-size: $font-size-large-responsive;
        }
    }
}

.viewModeContainerIcon {
    @include flex(row-reverse, flex-start, center);
    gap: 0.3rem;
}

.expand-section {
    @include flex(row, space-between, center);
    font-size: $font-size-normal-large-responsive;
    border: none;
    padding: 1.735rem 1.2rem;
    width: 100%;
    max-width: $expanding-section-max-width;
    max-height: $expanding-section-max-height;
}

.educationExperienceContainer,
.practicalExperienceContainer {
    @include flex(column, flex-start, stretch);
    gap: 0.2rem;
}
