@import "../mixins";
@import "../variables";

.form-section {
    @include flex(column, center, stretch);
    gap: 1rem;
    padding: 24px;
    h2 {
        font-size: 1.2rem;
    }
    form {
        @include flex(column, flex-start, stretch);
        gap: 1.5rem;
        > div {
            @include flex(column, flex-start, stretch);
            gap: 0.2rem;
            label {
                font-weight: 700;
            }
            input {
                height: 2rem;
                border-radius: 12px;
                padding-left: 5px;
                border: 2px solid transparent;
                transition: border 0.25s, box-shadow 0.25s;
            }
            textarea {
                resize: none;
                border-radius: 12px;
                padding-left: 5px;
                border: 2px solid transparent;
                transition: border 0.25s, box-shadow 0.25s;
                padding-top: 5px;
                height: 6rem;
            }
            textarea:focus,
            input:focus {
                @include inputFocus;
            }
        }
        .form-buttons {
            @include flex(row, flex-start, stretch);
            gap: 0.5rem;
            button {
                font-size: 1.2rem;
            }
            place-self: flex-end auto;
        }
    }
}
