// COLORS
$main-bg-color: #f3f4f6;
$card-bg-color: #fff;
$preview-bg-color: #ffffff;

// WIDTHS
$page-max-width: 1500px;
$cv-preview-height: 29.7cm;
$cv-preview-width: 21cm;

$expanding-section-max-width: 320px;
$expanding-section-max-height: 30px;

// FONTS
$font-size-medium-low-responsive: min(calc(0.2rem + 1.25vw), 0.85rem);
$font-size-normal-responsive: min(calc(0.5rem + 1vw), 1rem);
$font-size-large-responsive: min(calc(0.5rem + 1vw), 1.25rem);
$font-size-normal-large-responsive: min(calc(0.5rem + 1vw), 1.125rem);
$font-size-extra-large-responsive: min(calc(1rem + 1vw), 2.25rem);
$font-size-ship-card: 0.85rem;
