// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// OTHERS
@import "reset";
@import "base";
@import "mixins";
@import "variables";
@import "components/GeneralInformation.scss";
@import "components/EducationAndPractical.scss";
@import "components/CVPreview.scss";
@import "components/AddedEntries.scss";
@import "components/App.scss";

// MAIN / ROOT
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include flex(column, center, center);
}

// DEFAULT STYLINGS

button {
    background-color: inherit;
    font-weight: bold;
    border: none;
}

input,
textarea {
    border: none;
    background-color: $main-bg-color;
}

h1,
h2 {
    font-weight: 800;
}

label {
    font-weight: 700;
}

// COMMON CLASSES

.card-bg-color {
    background-color: $card-bg-color;
}

.preview-bg-color {
    background-color: $preview-bg-color;
}

.section {
    border-radius: 12px;
}

.expand-section {
    @include flex(row, space-evenly, center);
    font-size: $font-size-normal-large-responsive;
    border: none;
    padding: 24px;
    width: 100%;
    max-width: $expanding-section-max-width;
    max-height: $expanding-section-max-height;
    button {
        @include flex(row, flex-end, center);
        width: 25%;
    }
}
