// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// OTHERS
@import "reset";
@import "base";
@import "mixins";
@import "variables";
@import "components/GeneralInformation.scss";
@import "components/EducationExperience.scss";
@import "components/PracticalExperience.scss";
@import "components/CVPreview.scss";
@import "components/AddedEntries.scss";

// MAIN / ROOT
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include flex(column, center, center);
}

.app {
    display: grid;
    grid-template-columns: 25% 75%;
    max-width: $page-max-width;
    width: 100%;
    padding: 32px 24px;
    gap: 24px;
}

.app__userInput__box {
    @include flex(column, flex-start, flex-start);
    @include fullSize;
    .app__userInput {
        @include flex(column, flex-start, stretch);
        width: 100%;
        gap: 3rem;
    }
}

.app__userOutput {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
        0 8px 16px -8px rgba(0, 0, 0, 0.25);
    height: $cv-preview-height;
    width: $cv-preview-width;
    .app__userOutput__box {
        @include fullSize;
    }
}

// COMMON CLASSES

.card-bg-color {
    background-color: $card-bg-color;
}

.preview-bg-color {
    background-color: $preview-bg-color;
}

.section {
    border-radius: 12px;
}

.expand-section {
    @include flex(row, space-evenly, center);
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    padding: 24px;
    width: 100%;
    max-width: $expanding-section-max-width;
    max-height: $expanding-section-max-height;
    button {
        @include flex(row, flex-end, center);
        width: 25%;
        background-color: inherit;
        border: none;
        margin-bottom: 1px;
    }
}
